In [ ]:
import pandas as pd
import numpy as np


dict1={
    "name":["harsh","heta","rashi","parv","rini"],
    "sex":["male","female","female",np.nan,"female"],
    "class":[1,2,3,4,np.nan],
    "age":[21,22,"not available",10,np.nan]

}

df=pd.DataFrame(dict1)
df

    name     sex  class            age
0  harsh    male    1.0             21
1   heta  female    2.0             22
2  rashi  female    3.0  not available
3   parv     NaN    4.0             10
4   rini  female    NaN            NaN

In [ ]:
df.to_csv('siblings.csv')

In [ ]:
df.isnull().sum()

name     0
sex      1
class    1
age      1
dtype: int64

In [ ]:
df.isnull().sum().sum()

3

In [ ]:
df.notnull().sum()

name     5
sex      4
class    4
age      4
dtype: int64

Checking for a column

In [ ]:
df["sex"].isnull()

0    False
1    False
2    False
3     True
4    False
Name: sex, dtype: bool

# **Video 2**

In [ ]:
df1= pd.read_csv("siblings.csv",na_values="not available")
# df1= pd.read_csv("siblings.csv",keep_default_na=False)
# it has 4 cases ...keep_default_na and na_values has 4 possible combinstions
# na will not work on them
df1
# converts not available to nan

   Unnamed: 0   name     sex  class   age
0           0  harsh    male    1.0  21.0
1           1   heta  female    2.0  22.0
2           2  rashi  female    3.0   NaN
3           3   parv     NaN    4.0  10.0
4           4   rini  female    NaN   NaN

DropNa---to drop missing values

In [3]:
# axis =1---columns
# axis=0---rows
import pandas as pd
import numpy as np
dict2={
    "names":["a","b","c","d","e","f","g",np.nan],
    "Marks":[98,np.nan,99,87,90,np.nan,82,np.nan],
    "Grades":[np.nan,"AB","AA",np.nan,"AC","BA","BB",np.nan]
}


df2=pd.DataFrame(dict2)
df2

  names  Marks Grades
0     a   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

In [ ]:
# drop rows atleast having one missing value
# by default axis is 0

df2.dropna(how="any")

  names  Marks Grades
2     c   99.0     AA
4     e   90.0     AC
6     g   82.0     BB

In [ ]:
# drop columns  atleast having one missing value

df2.dropna(how="any",axis=1)
# all columns dropped coz all  have null values

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
# drop rows where all are missing

df2.dropna(how="all",axis=0)
# 7th row dropped

  names  Marks Grades
0     a   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB

In [ ]:
# # drop columns where all are missing
# no such columns

df2.dropna(how="all",axis=1)

  names  Marks Grades
0     a   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

In [ ]:
# Keep rows with atleast 2 non-na values
# only last row having 3 na values
# requires thresh parameter

df2.dropna(axis=0,thresh=2)

  names  Marks Grades
0     a   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB

In [ ]:
df2.dropna(axis=0,thresh=3)
# rows having 3 non-na values

  names  Marks Grades
2     c   99.0     AA
4     e   90.0     AC
6     g   82.0     BB

In [ ]:
# define in which column to look for missing/na values
# subset we will use

df2.dropna(subset=["Marks"],how="any",axis=0)

  names  Marks Grades
0     a   98.0    NaN
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
6     g   82.0     BB

In [ ]:
df2.dropna(subset=["Marks","Grades"],how="any",axis=0)

  names  Marks Grades
2     c   99.0     AA
4     e   90.0     AC
6     g   82.0     BB

In [ ]:
df2.dropna(subset=["names","Grades"],how="any",axis=0)

  names  Marks Grades
1     b    NaN     AB
2     c   99.0     AA
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB

In [ ]:
# if (inplace  =true ) then  it modifies original dataframe
# df2.dropna(subset=["names","Grades"],how="any",axis=0,inplace=True)

FillNA

In [ ]:
df2

  names  Marks Grades
0     a   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

In [ ]:
# Fill all nan values to 0 
# 0 is a scalar

df2.fillna(0)

  names  Marks Grades
0     a   98.0      0
1     b    0.0     AB
2     c   99.0     AA
3     d   87.0      0
4     e   90.0     AC
5     f    0.0     BA
6     g   82.0     BB
7     0    0.0      0

In [ ]:
# fill nan values with mean
# marks column null values replaced by mean

df2.fillna(df2.mean())

<ipython-input-41-418f2965f2aa>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.fillna(df2.mean())

  names  Marks Grades
0     a   98.0    NaN
1     b   91.2     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f   91.2     BA
6     g   82.0     BB
7   NaN   91.2    NaN

In [ ]:
# fill nan elements in columns "Marks" and "Grades" with 97 and "AA" respectively

In [ ]:
df2.fillna(
    {"Marks":97,"Grades":"AA"}
    )

  names  Marks Grades
0     a   98.0     AA
1     b   97.0     AB
2     c   99.0     AA
3     d   87.0     AA
4     e   90.0     AC
5     f   97.0     BA
6     g   82.0     BB
7   NaN   97.0     AA

In [ ]:
df2.fillna({"Marks":10})

  names  Marks Grades
0     a   98.0    NaN
1     b   10.0     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f   10.0     BA
6     g   82.0     BB
7   NaN   10.0    NaN

In [ ]:
# Method=pad means null value ki pehle ki value usko forwards hogi
# eg

# Before
# 22
# np.nan

# After
# 22
# 22

In [ ]:
# Top to bottom
df2.fillna(method="ffill")

  names  Marks Grades
0     a   98.0    NaN
1     b   98.0     AB
2     c   99.0     AA
3     d   87.0     AA
4     e   90.0     AC
5     f   90.0     BA
6     g   82.0     BB
7     g   82.0     BB

In [ ]:
# Bottom to top
df2.fillna(method="bfill")

  names  Marks Grades
0     a   98.0     AB
1     b   99.0     AB
2     c   99.0     AA
3     d   87.0     AC
4     e   90.0     AC
5     f   82.0     BA
6     g   82.0     BB
7   NaN    NaN    NaN

In [ ]:
# ffill column wise
df2.fillna(method="ffill",axis=1)

  names Marks Grades
0     a  98.0   98.0
1     b     b     AB
2     c  99.0     AA
3     d  87.0   87.0
4     e  90.0     AC
5     f     f     BA
6     g  82.0     BB
7   NaN   NaN    NaN

In [ ]:
df2

  names  Marks Grades
0     a   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

Replace

<!-- Pandas replace methds -->

In [ ]:
# Repalce a value

In [ ]:
df2

  names  Marks Grades
0     a   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

In [ ]:
# df2.replace(to_replace="a",value="Amay")
df2.replace("a","Amay")

  names  Marks Grades
0  Amay   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

In [ ]:
df2.replace(to_replace=["b","c"],value="Harsh")

   names  Marks Grades
0      a   98.0    NaN
1  Harsh    NaN     AB
2  Harsh   99.0     AA
3      d   87.0    NaN
4      e   90.0     AC
5      f    NaN     BA
6      g   82.0     BB
7    NaN    NaN    NaN

In [ ]:
df2.replace(["b","c"],["Harsh","Deepti"])

    names  Marks Grades
0       a   98.0    NaN
1   Harsh    NaN     AB
2  Deepti   99.0     AA
3       d   87.0    NaN
4       e   90.0     AC
5       f    NaN     BA
6       g   82.0     BB
7     NaN    NaN    NaN

In [ ]:
# replace nan with 40

df2.replace(np.nan,40)

  names  Marks Grades
0     a   98.0     40
1     b   40.0     AB
2     c   99.0     AA
3     d   87.0     40
4     e   90.0     AC
5     f   40.0     BA
6     g   82.0     BB
7    40   40.0     40

In [ ]:
# replace mrks column nan with 40 and grades column nan with FF
# python dictionary

df2.replace({"Marks":{np.nan:40},"Grades":{np.nan:"FF"}})

  names  Marks Grades
0     a   98.0     FF
1     b   40.0     AB
2     c   99.0     AA
3     d   87.0     FF
4     e   90.0     AC
5     f   40.0     BA
6     g   82.0     BB
7   NaN   40.0     FF

In [ ]:
df2.replace({"Grades":["not available",np.nan]},"FF")

  names  Marks Grades
0     a   98.0     FF
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0     FF
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN     FF

In [ ]:
df2

  names  Marks Grades
0     a   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

In [ ]:
# replace nan values with ffill

df2.replace(np.nan,method="ffill")

  names  Marks Grades
0     a   98.0    NaN
1     b   98.0     AB
2     c   99.0     AA
3     d   87.0     AA
4     e   90.0     AC
5     f   90.0     BA
6     g   82.0     BB
7     g   82.0     BB

In [4]:
# Replace nan values of marks column with 0
# df2.replace({"Marks":{np.nan:0}})

df2.replace({"Marks":98},"Intelligent")

  names        Marks Grades
0     a  Intelligent    NaN
1     b          NaN     AB
2     c         99.0     AA
3     d         87.0    NaN
4     e         90.0     AC
5     f          NaN     BA
6     g         82.0     BB
7   NaN          NaN    NaN

In [8]:
df2.replace({"Marks":{98:"Intelligentagent"}})

  names             Marks Grades
0     a  Intelligentagent    NaN
1     b               NaN     AB
2     c              99.0     AA
3     d              87.0    NaN
4     e              90.0     AC
5     f               NaN     BA
6     g              82.0     BB
7   NaN               NaN    NaN

In [11]:
df2.replace({"Marks":{99:"Intelligentagent"}})

  names             Marks Grades
0     a              98.0    NaN
1     b               NaN     AB
2     c  Intelligentagent     AA
3     d              87.0    NaN
4     e              90.0     AC
5     f               NaN     BA
6     g              82.0     BB
7   NaN               NaN    NaN

In [ ]:
df2.at[0,"Grades"]="FF"
df2
# only first valuevreplaced

  names  Marks Grades
0     a   98.0     FF
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

In [ ]:
# iat---can consider single value
# in iat pass integer position
df2.iat[1,1]=0
df2["Marks"]

0    98.0
1     0.0
2    99.0
3    87.0
4    90.0
5     NaN
6    82.0
7     NaN
Name: Marks, dtype: float64

In [ ]:
# iloc is used to access grp of rows and columns by integer positions
# 2 is Grades column 
df2.iloc[3:5,2]="Not available"
df2

  names  Marks         Grades
0     a   98.0             FF
1     b    0.0             AB
2     c   99.0             AA
3     d   87.0  Not available
4     e   90.0  Not available
5     f    NaN             BA
6     g   82.0             BB
7   NaN    NaN            NaN

In [ ]:
# loc is used to access rows and columns by lables
# both are inclusive

df2.loc[3:4,"Grades"]="DD"
df2

  names  Marks Grades
0     a   98.0     FF
1     b    0.0     AB
2     c   99.0     AA
3     d   87.0     DD
4     e   90.0     DD
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

Interpolate

In [ ]:
df2

  names  Marks Grades
0     a   98.0    NaN
1     b    NaN     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f    NaN     BA
6     g   82.0     BB
7   NaN    NaN    NaN

In [ ]:
df2.interpolate()
# by defalut methodmis linear only int

  names  Marks Grades
0     a   98.0    NaN
1     b   98.5     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f   86.0     BA
6     g   82.0     BB
7   NaN   82.0    NaN

In [ ]:
# if we wanna use time...then dt column should be date datatype


# this will change the date ka datatypefrom object to date
# df2=pd.read_csv('data_temp.csv',parse_date=['Date'])
# also change index to time as index

In [ ]:
df2.interpolate(method='index')

  names  Marks Grades
0     a   98.0    NaN
1     b   98.5     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f   86.0     BA
6     g   82.0     BB
7   NaN   82.0    NaN

In [ ]:
# nearest fills values with closest non-nan values
# like ffil
df2.interpolate(method='nearest')

  names  Marks Grades
0     a   98.0    NaN
1     b   98.0     AB
2     c   99.0     AA
3     d   87.0    NaN
4     e   90.0     AC
5     f   90.0     BA
6     g   82.0     BB
7   NaN    NaN    NaN